.duvidas {
  background-image: linear-gradient(120deg, #595478, #42969b);
  color: white;
  padding: 64px 24px;

  @media #{$tablet} {
    padding: 104px 170px;
  }

  &__block-left {
    @media #{$tablet} {
      margin-left: 193px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__ajuda {
    font-size: 15px;
    max-width: 273px;
    span {
      text-decoration: underline;
      cursor: pointer;
      transition: opacity .125s ease-in-out;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    @media #{$tablet} {
      flex-direction: row;
    }
  }

  &__title {
    line-height: 1.13;
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: bold;

    @media #{$tablet} {
      font-size: 60px;
    }
  }

  &__topicos {
    display: flex;
    padding-bottom: 60px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 40px;

    @media #{$tablet} {
      margin-bottom: 84px;
    }
  }

  &__topico {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    margin-right: 40px;
    cursor: pointer;
    transition: opacity .125s ease-in-out;

    @media #{$tablet} {
      margin-right: 64px;
    }

    &::after {
      content: '';
      height: 4px;
      background-color: #a0ab4d;
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      bottom: -16px;
      transition: width .125s ease-in-out;
    }

    &--ativo {
      @extend .duvidas__topico;
      position: relative;
      opacity: 1;

      &::after {
        width: 100%;
      }
    }
  }
}

.duvida {
  color: white;
  border-bottom: solid 1px transparentize(white, 0.9);
  margin-bottom: 40px;

  &--aberto {
    @extend .duvida;
    .duvida__seta {
      transform: rotate(180deg);
    }

    .duvida__body {
      display: block;
      padding-bottom: 40px;
    }
  }

  &__seta {
    transition: transform .125s ease-in-out;
    margin-left: 81px;
  }

  &__body {
    font-size: 15px;
    display: none;
    line-height: 1.6;
  }

  &__header {
    cursor: pointer;
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    letter-spacing: -0.5px;
    font-size: 20px;

    @media #{$tablet} {
      font-size: 26px;
    }
  }
}