.footer {
  margin: 43px 95px;
  display: flex;
  justify-content: space-around;

  &__redes-sociais {
    text-align: right;
    &__block {
      display: flex;
      justify-content: flex-end;

      a {
        display: block;
        margin-left: 24px;
      }
    }
  }

  &__copyright {
    font-size: 15px;
    margin-top: 40px;
    line-height: 1.6;
    color: #666;
  }

  &__links {
    &__block {
      margin-top: 40px;
      display: flex;
      font-size: 15px;
      color: #595478;

      a {
        display: block;
        margin-right: 40px;
      }
    }
  }
}