.header {
	margin: 40px 25px;
	left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .125s ease-in-out;
  z-index: 10;

	&__container {
		text-align: center;
	}

	@media #{$tablet} {
		display: flex;
		margin: 64px 95px;
		justify-content: space-between;
	}
}