.input {
  outline: none;
  user-select: none;
  width: 100%;
  opacity: 0.8;
  height: 40px;
  font-size: 15px;
  color: #333;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #595478;
  margin-bottom: 35px;

  &--textarea {
    @extend .input;
    height: 120px;
    resize: none;
    margin-bottom: 64px;
  }
}