.nav {
  display: none;

  @media #{$tablet} {
      display: flex;
  }

  &__container {
    display: flex;
    margin: 8px 0 2px;
  }

  &__item-wrapper {
    margin-left: 40px;
    transition: opacity .125s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &__item {
    font-size: 12px;
    color: #42969b;
    line-height: 15px;
    text-decoration: none;
  }
}
