.passo-1 {
  &__title {
    font-size: 28px;
    color: #333;
    letter-spacing: -1.1px;
    margin: 67px 0 16px;
    @media #{$tablet} {
      margin: 0 0 16px;
      font-size: 38px;
    }
  }

  &__text {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 64px;
    @media #{$tablet} {
      margin-bottom: 80px;
      max-width: 649px;
    }
  }
}

@for $i from 1 through 4 {
  .passo-#{$i} {
    margin-bottom: 80px;
  }
}
