include components/header
include components/section
include components/title

-
	var data = {
		titulo: 'Chegamos na hora certa',
		texto: 'A solução de ponto simples e conectada para você ter mais dados e menos trabalho.'
	}

block append body
	+section( 'home__section-first' )
		.home__section__wrapper
			.home__section__title
				h1
					| #{data.titulo}
			.home__section__text
				p
					| #{data.texto}