@import 'reset';

//Mixins
@import 'constants';
@import 'fonts';

body {
  &.scroll {
    .header {
      background-color: white;
      padding: 20px 95px;
      border-bottom: 1px solid #42969b;
    }
  }
}

p,
div,
textarea,
input,
span,
label {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
a,
ul,
button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

#app {
  overflow-x: hidden;

  @media #{$tablet} {
    overflow-x: initial;
    max-width: 1366px;
    margin: auto;
  }
}

//Components
@import 'components/*';

//Page
@import 'views/*';