@import 'reset';

//Mixins
@import 'constants';
@import 'fonts';

html,
body {
  overflow-x: hidden;
  height: 100%;
}

p,
div,
textarea,
input,
span,
label {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
a,
ul,
button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

//Components
@import 'components/*';

//Page
@import 'views/*';