@import 'reset';

//Mixins
@import 'constants';
@import 'fonts';

p,
div,
textarea,
input {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
a {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

//Components
@import 'components/*';

//Page
@import 'views/*';