include nav
doctype HTML5
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/main.css')
        title Tique Taque Landing Page
    body
        header.header
            .header__container
                img.header__logo( src='images/core/logo.png' )
            +nav
        block body