-
    var links = [ {
        href: '/',
        texto: 'O TiqueTaque',
    }, {
        href: '/planos',
        texto: 'Planos',
    }, {
        href: '/perguntas-frequentes',
        texto: 'Perguntas Frequentes',
    }, {
        href: '/contato',
        texto: 'Contato'
    } ]

mixin nav()
    nav.nav
        .nav__container
            each link in links
                .nav__item-wrapper
                    a.nav__item( href=link.href )
                        | #{link.texto}